extends layout

block content
  h1= title
  p Welcome to
    em &nbsp;#{title}
  .message-container
    ol
      each message in messages
        li.message
          .message-meta
            span.username #{message.user}
            span.date-added #{message.added.toLowerCase()}
          .message-text #{message.text}

    a.button.new-message-btn(href="/new", title="new message") New message
